[build]
  command = "npm run build"
  publish = "build"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "REACT_APP_API_URL"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# For SPA
[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
